@model Phone

<h2> Phone Ditails</h2>

<dl>
    <dt>ID</dt>
    <dt>@Model.Id</dt>
    <dt>Model</dt>
    <dt>@Model.Name</dt>
    <dt>Weight in gramm</dt>
    <dt>@Model.Weight</dt>
    <dt>Price in EUR</dt>
    <dt>@Model.Price</dt>
    <dt>Year</dt>
    <dt>@Model.Year</dt>
    <dt>Memory in GB</dt>
    <dt>@Model.MemoryGB</dt>
</dl>